<div class="float-right">
    <button class="btn btn-md btn-outline-primary" (click)="open(content)">Create new tariff</button>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New tariff</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="tariffFormModel" (ngSubmit)="modal.close('Create tariff');">
        <div class="modal-body">
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group">
                    <input id="price" formControlName="price" name="price" class="form-control" #priceInput >
                </div>

                <label for="ticket">Ticket type</label>
                <select class="form-control" id="ticket" formControlName="ticketTypeId">
                  <option *ngFor="let ticket of ticketsOptionList" [value]="ticket.id" >
                      {{ticket.name}}
                  </option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark">Create tariff</button>
        </div>
    </form>
</ng-template>